<h1>Using the following scale, rate your stress level right now after you have practiced your relaxation session</h1>

<%= form_for daily_relaxation_session, url: update_path, :html => {:method => :put, :role => "form"} do |f| %>
 <div class="form-group" style="background-color:white;padding:15px;border-radius:3px;">
  <div class="row form-labels">
    <div class="col-md-4">No Stress</div>
    <div class="col-md-4">Moderately Stressed</div>
    <div class="col-md-4">Extremely Stressed</div>
  </div>
      <%= f.hidden_field :id, :value => daily_relaxation_session.id %>

    <%= f.range_field :post_stress, :in => 0..10, :step => '1', :id => "range" %><Br/>
    <%= f.submit "Continue", :class => "form-control btn btn-primary" %>
  </div>
<%end%>
<script>
 $(document).ready(function() {
  $('#range').ionRangeSlider({
    min:0,
    max:10,
    type:"single",
    step:1,
    hasGrid:true
  });
});
</script>