<h1>Using the following scale, rate your stress level right now after you have practiced your relaxation session</h1>

<%= form_for daily_relaxation_session, url: update_path, :html => {:method => :put, :role => "form"} do |f| %>
 <div class="form-group">
  <div class="row form-labels">
    <div class="col-md-4"><span class="form-label-text">No Stress</span></div>
    <div class="col-md-4"><span class="form-label-text">Moderately Stressed</span></div>
    <div class="col-md-4"><span class="form-label-text">Extremely Stressed</span></div>
  </div>
      <%= f.hidden_field :id, :value => daily_relaxation_session.id %>

    <%= f.range_field :post_stress, :in => 0..4, :step => '1', :id => "range" %><Br/>
    <%= f.submit "Submit", :class => "form-control btn btn-primary" %>
  </div>
<%end%>
<script>
 $(document).ready(function() {
    customSlider($('#range'));
  });
</script>