<h1>Using the following scale, rate your stress level right now before you practice your relaxation session</h1>

<%= form_for DailyRelaxationSession.new, url: create_path, :html => {:role => "form"} do |f| %>
<div class="row form-labels">
    <div class="col-md-4">No Stress</div>
    <div class="col-md-4">Moderately Stressed</div>
    <div class="col-md-4">Extremely Stressed</div>
  </div>
  <div class="form-group">
    <%= f.range_field :pre_stress, :in => 0..10, :step => '1', :class => "range" %><Br/>
    <%= f.submit, "Conitnue" :class => "form-control btn btn-primary" %>
  </div>
<%end%>