<h1>Rate your average level of stress today</h1><br>

<%= form_for DailyJournal.new, url: create_path, :html => {:role => "form"} do |f| %>
  <div class="form-group">
    <div class="row form-labels">
      <div class="col-md-4"><span class="form-label-text">No Stress</span></div>
      <div class="col-md-4"><span class="form-label-text">Moderately Stressed</span></div>
      <div class="col-md-4"><span class="form-label-text">Extremely Stressed</span></div>
    </div>
    <%= f.range_field :average_stress, :in => 0..10, :step => '.1', :id => "range" %><Br/>
    <%= f.submit "Continue", :class => "form-control btn btn-primary btn-lg" %>
  </div>
<%end%>
<script>
 $(document).ready(function() {
    customSlider($('#range'));
  });
</script>