<h1>Rate your average quality of sleep last night</h1><br>
<%= form_for daily_journal, url: update_path, :html => {:method => :put, :role => "form"} do |f| %>
  
 <div class="form-group" style="background-color:white;padding:15px;border-radius:3px;">
  <div class="row form-labels">
    <div class="col-md-4"><span class="form-label-text">Poor</span></div>
    <div class="col-md-4"><span class="form-label-text">Okay</span></div>
    <div class="col-md-4"><span class="form-label-text">Excellent</span></div>
  </div>
    <%= f.hidden_field :id, :value => daily_journal.id %>
    <%= f.range_field :average_sleep_quality, :in => 0..10, :step => '1', :id => "range" %><Br/>
    <%= f.submit "Continue", :class => "form-control btn btn-primary" %>
  </div>
<%end%>
<script>
  $(document).ready(function() {
    customSlider($('#range'));
  });
</script>