<h1>Rate your average level of stress today</h1>

<%= form_for DailyJournal.new, url: create_path, :html => {:role => "form"} do |f| %>
  <div class="form-group">
    <%= f.range_field :average_stress %>
    <%= f.submit %>
  </div>
<%end%>