<h1>Gratitude Text</h1>
<h2 style="color:gray;">a person or event that was important to you</h2>
<%= form_for daily_journal, url: update_path, :html => {:method => :put, :role => "form"} do |f| %>
  <div class="form-group">
    <%= f.text_area :gratitude_text, :class => "form-control" %>
    <%= f.hidden_field :id, :value => daily_journal.id %><br>
      <%= f.submit "Continue", :class => "form-control btn btn-primary" %>
  </div>
<%end%>