<h1>Rate your average quality of sleep last night</h1>
<%= form_for daily_journal, url: update_path, :html => {:method => :put, :role => "form"} do |f| %>
  <div class="row form-labels">
    <div class="col-md-4">Poor</div>
    <div class="col-md-4">Okay</div>
    <div class="col-md-4">Excellent</div>
  </div>
  <div class="form-group">
    <%= f.range_field :average_sleep_quality, :in => 0..10, :step => '1' %>
    <%= f.hidden_field :id, :value => daily_journal.id %>
    <%= f.submit "Continue", :class => "form-control btn btn-primary"%>
  </div>
<%end%>