<div class="row main-nav">
  <div class="col-md-12">
    <img src="/images/logo.png" style="width:60px; height:58px; float:left;margin-top:10px; margin-bottom:10px;"><h1>LivingWell</h1>
  </div>
  <div class="col-md-12">
    <div class="well">
      <h2>Welcome, <%=current_participant.email%>!</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% AppSection.all.each do |s| %>
          <div class='main-nav-button'>
            <%= link_to_unless(s.label == "Qualtrics", "#{ s.label }".html_safe, navigator_context_path(context_name: s.slug)) %>
          </div>
        <% end %>
    </div>
  </div>
</div>

