<div class="row main-nav">
  <div class="col-md-12">
    <h1>LivingWell</h1>
  </div>
  <div class="col-md-12">
    <div class="well">
      <h2>Welcome, <%=current_participant.email%>!</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% AppSection.all.each do |s| %>
          <%= link_to "<div class='main-nav-button'>#{ s.label } </div>".html_safe, navigator_context_path(context_name: s.slug)%>
        <% end %>
    </div>
  </div>
</div>

