<div class="row">
  <div class="col-md-10">
    <div class="well">
      <h2>Hi <%=current_participant.email%>! Welcome to LiveWell</h2>
    </div>
    <div class="row">
        <% AppSection.all.each do |s| %>
        <div class="col-md-2 well" style="margin-left:10px;">
          <%= link_to "#{ s.label } <i class='icon-caret-right'></i>".html_safe, navigator_context_path(context_name: s.slug)%>
          </div>
        <% end %>
    </div>
  </div>
</div>

