<div class="row main-nav">
  <div class="col-md-12">
    <div class="col-md-12">
      <img src="/images/logo.png" style="width:120px; height:116px; float:left;margin-top:10px; margin-bottom:10px;"><h1 id="logo-text" style="color:darkslateblue;">LivingWell</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% AppSection.all.each do |s| %>
          <% if s.label != "Qualtrics" %>
            <%= link_to("<div class='main-nav-button home' id='#{s.slug}'><span class='tool-text'>#{ s.label }</span></div>".html_safe, navigator_context_path(context_name: s.slug)) %>
            <%end%>
            
            <% if s.label == "Qualtrics" && s.qualtrics_visible?(current_participant) %>
              <%= link_to("<div class='main-nav-button home'><span class='tool-text'>#{ s.label }</span></div>".html_safe, s.qualtrics_link(current_participant), :class=> 'qualtrics-link', :target => 'blank') %>
            </div>
            <% end%>
        <% end %>
    </div>
  </div>
</div>

