<div class="slideshow">

<%= @navigator.render_current_content(self) %>
</div>
<% if @navigator.show_nav_link? %>

    <%= link_to 'Continue', navigator_next_content_path, class: 'form-control btn btn-primary' %>

<% end %>
