<div class="slideshow">

<%= @navigator.render_current_content(self) %>
</div>
<% if @navigator.show_nav_link? %>

    <%= link_to 'Continue <i class="icon-chevron-right"></i>'.html_safe, navigator_next_content_path, class: 'btn btn-primary next-button' %>

<% end %>
