body,html{font-family: 'Oswald', sans-serif !important; background-image: url(image_path('calm-blue-water.jpg')); color:white; padding-top:1.5em;}

.well {background-color:rgba(255,255,255,0.5);}

.slideshow {background-color:rgba(0, 0, 0, 0.25); padding:2em; border-radius:1em;}

.main-nav a {display:block; font-size:3em; text-transform: uppercase; color:white; margin:0;}
.main-nav a:hover {text-decoration: none; color:black;}
.main-content {text-align: left;}
.main-content h2 {margin-top:.5em; display:block;}

.main-nav-button.home {width:23%; margin-right:2%; float:left; font-size:.8em; height:150px; background-color:rgba(50,55,60,0.3);  border-radius:.5em; padding-right:1%; padding-left:1%;text-align:center;padding-top:1%;margin-top:40px;}

.main-nav-button {width:18%; margin-right:2%; float:left; font-size:.8em; height:150px; background-color:rgba(50,55,60,0.3);  border-radius:.5em; padding-right:1%; padding-left:1%;text-align:center;padding-top:1%;margin-top:40px;}

a.qualtrics-link .main-nav-button {
  position:absolute;
  right:12px;
  top:-183px;
}

.tool-nav {}
.tool-nav h1 {}
.tool-nav h2 {}
.tool-nav h3 {}

input.form-button {
	margin-top: 8px;
}

#auth_nav {
	position:absolute;
	top:15px;
	right:15px;
}

#home_nav {
	position:absolute;
	top:15px;
	left:15px;
}

#home_nav a{
  color:darkslateblue;
  font-size: 140%;
}

#auth_nav a{
  color:darkslateblue;
  font-size: 140%;
}

#main-layout {
  margin-top:20px;
}

#alerts{
	position:fixed;
	bottom:50px;
	font-weight:bold;
	font-size:2.1em;
}

.form-control.big {font-size:1.5em;}

.range.row .left {text-align:left}
.range.row .center {text-align:center}
.range.row .right {text-align:right}

footer {position:fixed; bottom:15px; left:15px;}

.logo{font-weight:bold;font-size:4em;}

.think{color:#72A049}
.feel{color:#5A5198}
.do{color:#7E4791}

.fa-asterisk{color:#7E4791;}
.fa-caret-right{color:#5A5198; margin-right:-30px; width:30px;}
a {color:#DDEEEE;}

input {color:black;	}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  -webkit-border-radius: 10px;
  background-color: #AAA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
  border: 1px solid #999;
  height: 44px;
  width: 44px;
}



.range {
  display: block;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
 }

 .btn {margin-top:1em;}

 div.range-labels {
  margin-left: 17%;
  margin-bottom: 20px;
  color:cornflowerblue;
}

div.range-labels span {
  margin-right: 7%;
}

div.slider-group {
  margin-bottom:20px;
}

div.slider-group .irs-single {
  background-color: white;
}

div.slider-group.row {
  margin: 10px 0px 10px 0px;
}
div.slider-group .col-md-2 {
  position: relative;
  top: 15px;
  background: darkgrey;
  padding: 5px;
  border-radius: 4px;
  color:floralwhite;
  text-align:center;
}

div.form-labels div{
 text-align:center;
 color:cornflowerblue;
 font-size: 110%
}
div.form-labels div:first-child{
  text-align: left;
}

div.form-labels div:last-child{
  text-align: right;
}

div.form-labels {
  width: 100%;
  margin-bottom: 25px;
}
div.form-group label{
  color:gray;
}

div.multi-slide input {
  margin-bottom: 10px;
}
#daily_journal {
  background-image: url(image_path('yosemite-1.jpeg'));
  background-size: 100%;
}
#daily_relaxation_practice {
  background-image: url(image_path('woman-meditating.jpg'));
  background-size: 100%;
  background-position: center;
}